.breadcrumb {
    margin: 0 auto;
    width: 800px;
    margin-bottom: 10px;
}

.breadcrumb a {
    text-decoration: none;
    color: #1e90ff;
}

.contents {
    width: 800px;
    margin: 0 auto;
    font-size: 18px;
}

.detail_form {
    display: flex;
    width: 100%;
}

.detail_image {
    width: 50%;
    overflow: hidden;
    align-items: center;
    justify-content: center;
}

.detail_image img {
    width: 100%;
    height: auto;
    object-fit: cover;
    margin-bottom: 15px;
}

.image-file {
    display: none;
}

.image-label {
    background: #c0c0c0;
    border: 2px solid #555;
}

.file-row {
    display: flex;
}

.file-row span {
    margin-left: 20px;
}

.detail_input {
    width: 50%;
    margin-left: 20px;
}

.detail_label {
    margin-bottom: 10px;
}

.detail_input input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
}

.detail_checkbox_group {
    display: flex;
    gap:20px
}

.detail_checkbox_group label {
    display: flex;
    align-items: center;
    font-size: 18px;
}

input[type="checkbox"] {
    appearance: none;
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    border: 2px solid #555;
    border-radius: 50%;
    background-color: #fff;
    cursor: pointer;
    position: relative;
}

input[type="checkbox"]:checked::before {
    content: "✓";
    position: absolute;
    top: 0;
    left: 4px;
    width: 10px;
    height: 10px;
    border-radius: 10%;
    color: #fff;
    font-weight: bold;
}

input[type="checkbox"]:checked {
    background-color: #000;
    border-color: #000;
}

.detail-textarea {
    width: 100%;
}

.textarea-label {
    margin-top: 30px;
}

.datail-textarea textarea {
    width: 100%;
    margin: 10px 0;
}

.button-group {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.button-group__center {
    display: flex;
    gap: 20px;
    justify-content: center;
    margin: 0 auto;
}

.button-group__previous-screen {
    text-decoration: none;
    background: #c0c0c0;
    padding: 5px 50px;
    color: black;
    border-radius: 5px;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
}

.update-form {
    display: inline-block;
}

.update-form__btn {
    padding: 10px 30px;
    background: #ffa500;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
}

.delete-form {
    text-align: right;
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
}

.delete-form__delete-btn {
    border: none;
    background: none;
    display: inline-block;
}

.delete-form__delete-btn i {
    color: red;
    font-size: 25px;
}

.form__error {
    height: 20px;
    color: #ff0000;
    text-align: left;
}



